
<html>
	<head>
	<style>
		table{
			text-align: center;
		}
		@page {size: landscape}
	</style>
	</head>
	<body>
	
	<table align=center >
    	<tr>
        	<td style="vertical-align: bottom">
        		<i>Удостоверение является документом<br />
				установленного образца </i>
				<p>Регистрационный номер {{Number}}</p>
			</td>
        	<td>		
				<b>{{FIO}}</b>
				<p>Прошёл(а) обучение в ГАОУ ДПО ЦПМ<br />
				с {{DtTo}} г. по {{DtFrom}} г.</p>
				<p>по дополнительной профессиональной программе<br />
				«{{Programm}}»</p>
				<p>Модуль «{{Module}}»</p>
				<p>В объёме {{Hours}} часов</p>
				<table width="100%">
					<tbody>
						<tr>
							<td><p>М.П.</p></td>
							<td align=left><p>Директор</p></td>
							<td><p>И.В.Ященко </p></td> 
						</tr>
						<tr> </tr>
						<tr> </tr>
						<tr>
							<td></td>
							<td align=left>Начальник<br />учебной части</td>
							<td>А.А.Якута</td>
						</tr>
					</tbody>
				</table>
				<p>Москва, 2015</p>
			</td>
		</tr>
	</table>
	</body>
</html>